<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="app.diffs$ | async as diffs else loading">
  <section *ngIf="diffs?.length > 0"
           fxLayout="row | wrap"
           fxLayoutAlign="start start"
           class="p8">
    <section *ngFor="let diff of diffs"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             class="rounded elevated card-outline-accent m4 p8"
             [style.width.px]="380">
      <section fxLayout="row"
               fxLayoutAlign="space-between center">
        <span fxFlex
              class="mat-title bold m4">Diff</span>
        <button mat-icon-button
                color="primary"
                (click)="testParse(diff)">
          <mat-icon>code</mat-icon>
        </button>
      </section>
      <p class="mat-subheading-2 bold m4">Previous</p>
      <ng-container *ngFor="let prop of app.getProps(diff.previous)">
        <ng-container *ngIf="app.isObject(prop[1])">
          <p class="mat-subheading-2 bold m4">{{prop[0]}}</p>
          <p class="m4"
             *ngFor="let p of app.getProps(prop[1])">
            <strong>{{p[0]}}</strong>: {{p[1]}}
          </p>
        </ng-container>
        <ng-container *ngIf="!(app.isObject(prop[1])) && app.renderProp(prop[0])">
          <p class="m4">
            <strong>{{prop[0]}}</strong>: {{prop[1]}}
          </p>
        </ng-container>
      </ng-container>
      <p class="mat-subheading-2 bold m4">Proposed</p>
      <ng-container *ngFor="let prop of app.getProps(diff.proposed)">
        <ng-container *ngIf="app.isObject(prop[1])">
          <p class="mat-subheading-2 bold m4">{{prop[0]}}</p>
          <p class="m4"
             *ngFor="let p of app.getProps(prop[1])">
            <strong>{{p[0]}}</strong>: {{p[1]}}
          </p>
        </ng-container>
        <ng-container *ngIf="!(app.isObject(prop[1])) && app.renderProp(prop[0])">
          <p class="m4">
            <strong>{{prop[0]}}</strong>: {{prop[1]}}
          </p>
        </ng-container>
      </ng-container>
    </section>
  </section>
  <section *ngIf="!(diffs?.length > 0)"
           class="mat-subheading-2 m4">No Diffs Available</section>
</ng-container>
