<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="app.diffs$ | async as diffs else loading">
  <section *ngIf="diffs?.length > 0"
           fxLayout="row | wrap"
           fxLayoutAlign="start start"
           class="p8">
    <section *ngFor="let diff of diffs"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             class="rounded elevated card-outline-accent m4"
             [style.width.px]="380">
      <section fxLayout="row"
               fxLayoutAlign="space-between center">
        <span fxFlex
              class="mat-title bold m4">Diff</span>
        <button mat-icon-button
                color="primary"
                (click)="testParse(diff)">
          <mat-icon>code</mat-icon>
        </button>
      </section>
      <ng-container *ngFor="let c of app.buildGraph(diff)">
        <section *ngIf="app.isObject(c.previous)">
          <p class="mat-subheading-2 m4">{{c.key}}</p>
          <section *ngFor="let prop of app.getProps(c.previous)"
                   [ngClass]="c.same ? 'color-text' : 'color-red'">
            <p class="m4"><strong>{{prop[0]}}:</strong> {{prop[1]}}</p>
          </section>
          <section *ngFor="let prop of app.getProps(c.proposed)"
          [ngClass]="c.same ? 'color-text' : 'color-green'">
            <p class="m4"><strong>{{prop[0]}}:</strong> {{prop[1]}}</p>
          </section>
        </section>
        <section *ngIf="!(app.isObject(c.previous))">
          <p class="mat-body-strong m4">{{c.key}}</p>
          <p class="m4"
             [ngClass]="c.same ? 'color-text' : 'color-red'">{{c.previous}}</p>
          <p class="m4"
             [ngClass]="c.same ? 'color-text' : 'color-green'">{{c.proposed}}</p>
        </section>
      </ng-container>
    </section>
  </section>
  <section *ngIf="!(diffs?.length > 0)"
           class="mat-subheading-2 m4">No Diffs Available</section>
</ng-container>
